{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<title>Lista de Tarefas com Prioridade</title>
	</head>
	<body>

			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-md-4 col-offset-4">
						<h1>Lista de Tarefas</h1>
					</div>
				</div>
				<div class="row justify-content-md-center">
				
						<div class="form-group" style="margin-top: 50px">
							  <p><b>Item</b> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <b>Prioridade</b> </p>
							<form method="POST" action="/lists/new">
								 {% csrf_token %}


								 <input name="item_text" id="id_new_item" placeholder="Adicione o item" style="margin-right:20px" required/>
								
								 <label class="radio-inline" style="margin-left:10px">
							      <input type="radio" id="ds_prio" name="ds_prioridade" value="Alta"  checked>Alta
							     </label>
							     <label class="radio-inline" style="margin-left:10px">
							      <input type="radio" id="ds_prio" name="ds_prioridade" value="Média" >Média
							     </label>
							     <label class="radio-inline" style="margin-left:10px; margin-right: 10px">
							      <input type="radio" id="ds_prio" name="ds_prioridade" value="Baixa"  >Baixa
							     </label>


							
								<input class="btn btn-success" type="submit" value="Salvar">
							</form>
						
						</div>	
				
				</div>

				
			</div>	
	</body>
</html>